<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="footer" th:fragment="footer" class="container-fluid justify-content-center p-3 mt-3" style="background-color: #ffcccb; color: #333; font-size: 18px; font-weight: bold;">
    <div class="text-center">
        <p>
            <i class="bi bi-facebook" style="color: #3b5998; font-size: 24px;"></i>&nbsp;&nbsp;
            <i class="bi bi-instagram" style="color: #bc2a8d; font-size: 24px;"></i>&nbsp;&nbsp;
            <i class="bi bi-telegram" style="color: #0088cc; font-size: 24px;"></i>&nbsp;
            <i class="bi bi-youtube" style="color: #ff0000; font-size: 24px;"></i>
        </p>
        <p>&copy;&nbsp;&nbsp;WEB FRUIT SHOP, LLC</p>
        Address: Plantage Kerklaan 15HS, 1018 SZ Amsterdam, 00125
        Phone: +011 555 123-4587
    </div>

</div>
</body>
</html>
